* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

img {
  vertical-align: middle;
}

.header {
  display: flex;
  flex-direction: column;
  height: 570px;
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.white-logo {
  height: 37px;
  margin-top: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-weight: 400;
}

.menu-items {
  margin: 15px;
}

.log-in {
  border: 2px solid;
  border-radius: 5px;
  padding: 8px;
  max-width: 193px;
  margin: auto;
  margin-top: 10px;
}

.sign-up-square {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
  padding-top: 21px;
  background: white;
  color: #332586;
  height: 380px;
  width: 545px;
  margin-top: 55px;
}

.turn-miles {
  font-size: 30px;
  line-height: 44px;
}

.sign-to-drive {
  font-size: 19px;
  margin-top: -7px;
}

.phone-number {
  font-size: 14px;
  margin-top: -20px;
}

hr {
  margin-top: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.become-driver {
  background-color: #ff00be;
  color: white;
  width: 151px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 13px;
}

.sign-to-ride {
  margin-left: 26px;
  font-size: 16px;
}

.already-applied {
  margin-top: 13px;
  font-size: 10px;
}

.transparency {
  padding-bottom: 68px;
  height: 63px;
  background: linear-gradient(rgba(255,0,0,0),#76278F);
  margin-top: 0px;
}

.bg-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  height: 569px;
  background: linear-gradient(#76278F, #2B1E66);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.text-banner {
  margin-top: 35px;
  margin-right: 20px;
}

.banner-title {
  font-size: 25px;
}

.banner-content {
  font-size: 13px;
}

.phone {
  margin-top: 36px;
  height: 480px;
}

.video-section {
  height: 1443px;
}

.video-text-left {
  display: flex;
  flex-direction: column;
  margin-left: 77px;
  margin-top: 35px;
}

.watch {
  font-size: 10px;
  font-weight: 800;
}

.video-title {
  font-size: 25px;
  margin-top: -11px;
}

.video-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 479px;
}

.video-content {
  font-size: 16px;
  margin-top: -13px;
  line-height: 22px;
}
.video-section-2 {
  display: flex;
  align-self: baseline;
  flex-direction: row;
  justify-content: space-between;
  height: 479px;
}

.video-text-right {
  margin-top: 35px;
  margin-right: 81px;
}